.entity-media-controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.entity-media-controls svg {
  width: 100% !important;
  height: 100% !important;
}
