.ratking {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
