.widget-toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.5rem;
  width: 100%;
  pointer-events: auto;
}

.widget-toolbar-title {
  display: block;
}
